*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #262626;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 77px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    border-bottom: .5px solid #ddd;
    background-color: #fff
}

#navbar .container {
    width: 975px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
}

#navbar .home-logo {
    display: flex;
    height: 36px;
    width: 360px;
    margin-top: 10px;
}

#navbar .home-logo div svg {
    cursor: pointer;
}

#navbar .home-logo .instagram-text img {
    height: 29px;
    width: 109px;
    cursor: pointer;
}

#navbar .user-icon-div {
    display: flex;
}

#navbar .home-logo .seperator-line {
    height: 28px;
    width: 1px;
    background-color: #262626;
    margin: 0px 16px;
}

#navbar .container input {
    width: 215px;
    height: 28px;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

#navbar .container input:focus {
    outline: none;
}


#navbar .container .user-icon-div {
    width: 360px;
    height: 24px;
    justify-content: flex-end;
}

#navbar .container .user-icon-div .user-icon-container {
    display: flex;
    width: 156px;
    height: 24px;
    padding: 0 0 0  24px;
    justify-content: space-between;
}

#navbar .container .user-icon-div .user-icon-container div svg {
    cursor: pointer;
}


/* Main Body Starts */

#main-body {
    background-color: #fafafa;
    width: 100%;
    position: relative;
    top: 77px;
    
}

#main-body .section-body {
    margin: 0px 324px;
    padding: 60px 0;
}

#main-body .section-body .top {
    background-color: #fff;
    height: 60px;
    width: 614px;
    border: .5px solid #ddd;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}


#main-body .section-body .top .profile-pic .gradient img {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    position: relative;
    top: 2.5px;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    cursor: pointer;
}

#main-body .section-body .top .right {
    display: flex;
    width: 534px;
    height: 18px;
    justify-content: space-between;
    margin: 0 0 0  16px;
}

#main-body .section-body .top .right p {
    font-weight: 600;
    font-size: 14px;
    color: #262626;
    cursor: pointer;
}

#main-body .section-body .top .right .dots {
    font-weight: bolder;
    font-size: 16px;
    font-stretch: ultra-expanded;
    width: 16px;
    height: 10px;
    cursor: pointer;

}

/* image sections */

#main-body .section-body .image {
    width: 614px;
    position: relative;
}
#main-body .section-body .image img {
    width: 614px;
    cursor: pointer;
}

.down-section {
    border-left: #ddd 1px solid;
    border-right: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    width: 614px;
    margin-top: -3px;
    background-color: #fff;
}

#main-body .section-body .like-section {
    display: flex;
    justify-content: space-between;
    width: 614px;
    padding: 0 16px;
    padding-top: 8px;
    /* border; */
}

#main-body .section-body .like-section .left span {
    padding: 8px;
    cursor: pointer;
}

#main-body .section-body .like-section .right svg {
    cursor: pointer;
}



#main-body .section-body .down-section .liked-by-div {
    display: flex;
    width: 614px;
    height: 24px;
    margin: 0 0 8px;
    padding: 8px 16px;
}

#main-body .section-body .down-section .liked-by-div .img img {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    cursor: pointer;
}

#main-body .section-body .down-section .liked-by-div .p {
    width: 554px;
    height: 24px;
    margin-left: 5px;
}

#main-body .section-body .down-section .liked-by-div .p  p {
    font-size: 14px;
}

#main-body .section-body .down-section .liked-by-div .p  p .bold {
    cursor: pointer;
}

/* utility class */

.bold {
    font-weight: bold;
    color: #262626;
    cursor: pointer;
}

.mention {
    color: rgba(43, 43, 179, 0.8);
    cursor: pointer;
}

/* utility ends */

#main-body .section-body .down-section .user-caption-comment-section {
    width: 614px;
    padding: 0 16px;
}

.comment-view a{
    color: #999999;
    text-decoration: none;
}

.time {
    height: 19px;
    width: 614;
}
.time p {
    font-size: 10px;
    color: #999999;
}

 .text-area {
    width: 614px;
    height: 56px;
    margin: 4px 0 0 0;
    border-top: #ddd 1px solid;
}

.text-area .form {
    display: flex;
    height: 56px;
    align-items: center;
    width: 614px;
}

.text-area .form textarea {
    width: 564.83px;
    height: 18px;
    border: none;
    resize: none;
    overflow: hidden;
    padding: 0 16px;
}

 .text-area .form textarea:focus {
    outline: none;
}



.text-area .form textarea::placeholder {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #262626;
    opacity: 0.5;
}

.text-area .form button {
    border: none;
    background-color: #fff;
    color: rgba(43, 43, 179, 0.8);
    font-weight: 500;
    opacity: .5;
}

.text-area .form button:active {
    outline: none;
    border: none;
    border: none;
}


































